* {
    font-family: 'Roboto', sans-serif;
   
    }
    
.colorFondo{
        
    background-color:#09d
        
}

.textoFooter{

    color: #fff;
}
    


.navbar-brand {

    margin-right: -30px;
}

.img-logo{

    border-radius: 50%;
       
}



